<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Aplicación de Vuelos</title>
    <meta name="description" contente="Aplicación web CRUD de vuelos." />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="active" href="/">Vuelos</a></li>
                <li><a href="/Flight/Create">Alta</a></li>
                <li><a href="/Flight/Delete">Baja</a></li>
                <li><a href="/Flight/Edit">Modificación</a></li>
            </ul>
        </nav>
        <script>
            $navLinks = document.querySelectorAll('nav a');
            $navLinks.forEach($navLink => { 
                const currentHref = window.location.href;
                if (currentHref == $navLink.href) {
                    $navLink.classList.add("active");
                } else { 
                    $navLink.classList.remove("active");
                }
            })
        </script>
    </header>
    <main>
        <h1>@ViewData["Title"]</h1>
        @RenderBody()
    </main>
    <footer>
        <p>Aplicación web de vuelos 2024</p>
    </footer>
    @RenderSection("Scripts", required: false)  
</body>
</html>