@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la aplicación de vuelos</h1>
    <p>Ve el listado de vuelos <a asp-area="" asp-controller="Flight" asp-action="Index">aquí</a>.</p>
</div>
